@tailwind base;
@tailwind components;
@tailwind utilities;

.nav__btn {
  @apply text-white px-4 py-2 relative z-10 ease-linear duration-500

  before:content-[''] 
  before:absolute 
  before:rounded-sm
  before:bg-transparent 
  before:block 
  before:top-0 
  before:bottom-0
  before:right-10
  before:-left-10 
  before:transform 
  before:ease-out
  before:duration-500

  hover:before:bg-white
  hover:before:left-0
  hover:before:right-0
  hover:before:-z-10
  hover:text-primary
}
